/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


body {
	line-height: 1;
  background-color: #f2c2dc;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size:;
  padding:;
  color: #adbf26;
  margin: auto;
  width: 50%;
}
h2{
  font-family: 'Chango', cursive;
  font-size:;
  padding:;
  color: white;
  margin: auto;
  width: 50%;
}
a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size:;
  color: #adbf26;
}

#container {
    position: absolute;
    margin:auto;
    width: 855px;
    height :1087px;
    bac
}

#background{
    position:absolute;
    width:855px;
    height:1087px;
    left:100px;
    right: 100px;
}

#man {
    background-image: url("../img/a_body.png");
    position:absolute;
    width:755px;
    height:1187px;
}

#clothes {
    position:absolute;
    width:755px;
    height:1187px;
}

.pink_shirt {
    background-image: url("../img/pink_shirt.png");
    position:absolute;
    width:755px;
    height:1187px;
}

.purple_shirt {
    background-image: url("../img/purple_shirt.png");
    position:absolute;
    width:755px;
    height:1187px;
}

.yellow_shirt {
    background-image: url(../img/yellow_shirt.png);
    position:absolute;
    width:755px;
    height:1187px;
}

.black_shirt {
  background-image: url(../img/black_shirt.png);
  position:absolute;
  width:755px;
  height:1187px;
}

.flower_shirt {
  background-image: url(../img/flower_shirt.png);
  position:absolute;
  width:755px;
  height:1187px;
}
.a_shirt {
  background-image: url(../img/a_shirt.png);
  position:absolute;
  width:755px;
  height:1187px;
}


#next_top {
    position:absolute;
    right:50px;
    top:400px;
}
