body{
  background-color: white;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size:;
  padding:;
  color: #f2c2dc;
  margin: auto;
  width: 50%;
}
h2{
  font-family: 'Chango', cursive;
  font-size:;
  padding:;
  color: white;
  margin: auto;
  width: 50%;
}
a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size:;
  color: #f2c2dc;
}
.col-sm-5{

  width:80%;
}
.col-sm-4{
  display: block;
  border: solid 10px white;
  width: 30%;
  background-color: #f2c2dc;
  border-radius: 25px;
}
.col-sm-6{
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: pink;
}
#directory{
  position: absolute;
  left:0;
  display:block;
}
#directory a{
  color: #6c60bf;
}
#body img{
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.shirts img{
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.shirts img{
  width: 100%;
}
#boxes{
  border-radius: none;
}
#closet_text h2{
  color: #6c60bf;
}
.button{
  background-color: #6c60bf;
  color: white;
}
#black_shirt{
  position:absolute;
  width: 555px;
  height:987px;
  background-image: url(../img/black_shirt.PNG);
}
#flower_shirt{
  position:absolute;
  width: 555px;
  height:987px;
  background-image: url(../img/flower_shirt.PNG);
}
#next_top
