body {
	background-color: #f2c2dc !important;

}
h1{
  font-family: 'Chango', cursive;
  font-size: 80pt;
  text-align: center;
  display: block;
  margin-top: 0;
  color: #adbf26;
}

h2{
  font-family: 'Chango', cursive;
  font-size: 42px;
  color: white;
  display: block;
  margin: 50px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #adbf26;
  display: block;
}

p{
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  color: #d96c94;
  display: block;
  margin: 50px
}

#dollz img{
  width: 100%;
  margin-top: 20px;
}

#topstars img{
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

#home, #dress_up {
  display: block;
  margin: auto;
  text-align: right;
  padding: 10px;
}

#home img {
  width: 30px;
  float: right;
  clear: both;
}
#dress_up img {
  width: 30px;
  float: right;
  clear: both;
}

a {
  text-decoration: none !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt;
  padding:10px;
  color: #d96c94 !important;
}

a:hover {
  color: #adbf26 !important;
}

.col-lg-2 {
  background-color: #6C60BF;
  padding-top: 20px;
  margin: 50px;
}

.colab_p {
  color: white;
  font-size: 10pt;
  padding: 5px;
  margin: 3px;
}


.haley_pic, .aimee_pic, .kayla_pic, .ayline_pic {
  width: 100%
}

.top {
	padding: 25px;
	background-color: white;
}

#dollz {
  padding: 25px;
	background-color: #adbf26;
}

#aimee_portfolio {
  font-size: 11pt;

}
