font-family: 'Chango', cursive;
font-family: 'Montserrat', sans-serif;
body{
  background-color: #d96c94;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size:
  padding:
  color: #f2c2dc;
}
h2{
  font-family: 'Chango', cursive;
  font-size:
  padding:
  color: white;
}
#title{

}
a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size:
  padding:
  color: #f2c2dc;
}
#links{

}
